
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* nav section  */

.poppins-light {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
    margin: 40px 70px;
  }

  .none{
    display: none;
  }

.nav1{
    display: flex; 
    align-items: center;
    justify-content: space-between;
    
  }

  .h31{
    border-bottom: 2px solid white;
  }

  .div-nav{
    display: flex;
    gap: 50px;

  }

.div-nav a{
    text-decoration: none;
    font-weight: 500;
    color: black;
    border-bottom: 2px solid white;
}  

.div-nav a:hover{
    text-decoration: none;
    font-weight: 500;
    color: rgb(176, 5, 199);
    border-bottom: 2px solid red;
}  


/* camera section  */
.camera{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 100%; */
    margin-top: 20px;
    margin-bottom: 20px;
}

.camera-in{
    background-image: url(images/Circle\ design.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.btn-pre{
    background-color: #E02C6D;
    padding: 5px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.btn-pre:hover{
    background-color: #2ce053;

}


/* sponsor section  */

.spons{
    display: flex;
    gap: 50px;
    border-top: 1px solid #e4e8e8;
    border-bottom: 1px solid #e4e8e8;
    justify-content: center;
    align-items: center;
    margin: 20px 40px 20px 40px;
    padding: 10px;

}

.spons img{
    width: 100%;
    height: 100%;
}



@media (max-width:576px) {

    /* nav section  */
   
    .poppins-light{
        margin: 10px 20px;
    }

    .none{
        display: inline-block;
    }

    .nav1 a{
        display: none;

    }

    div .visible{
        display: inline-block;
    }


    /* camera section  */

    .camera{
      
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .camera-in{
        width: 100%;
        height: 100%;
        /* background-size: 350px 350px; */
        background-position: center;
        background-repeat: no-repeat; 
    }

    .center{
        text-align: center;
    }


    /* sponsor section  */

    .spons{
        display: grid;
        gap: 40px;
        grid-template-columns: repeat(4, 1fr);
        margin: 10px 20px 10px 20px;
        
       
        
       
        
    }

     .spons .centr {
       
        margin-left: 45px;
        margin-top: 0px;
    }





    


